/* Variable */

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/

  --primary-color: hsl(133, 100%, 32%);
  --title-color: hsl(133, 50%, 15%);
  --text-color: hsl(133, 8%, 40%);
  --text-color-light: hsl(133, 8%, 65%);
  --body-color: #fff;
  --scrollbar-thumb-hover: hsl(133, 100%, 25%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

/* Variable Dark Theme */

body.dark-theme {
  --primary-color: hsl(133, 100%, 37%);
  --title-color: hsl(133, 50%, 85%);
  --text-color: hsl(133, 8%, 80%);
  --body-color: hsl(133, 13%, 20%);
}

/* Change Theme */

.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--primary-color);
  margin-right: 1rem;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

#main {
  width: 90%;
  margin: auto;
  margin-bottom: var(--header-height);
}

/* Reusable CSS class */

.section {
  padding: 2rem 0;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Nav */

#header {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: var(--primary-color);
  font-weight: var(--font-medium);
}

.nav-logo img {
  width: 30px;
  margin-right: 0.7rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.7rem;
}

.nav-toggle:hover {
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -2.5px 5px rgba(6, 128, 2, 0.5);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.scroll-header {
  box-shadow: 0 -2px 5px rgba(6, 128, 2, 0.3);
}

.nav-list {
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-weight: var(--font-medium);
  transition: 0.2s;
}

.nav-link:hover {
  transform: translateY(-8px);
}

.active-link {
  color: var(--primary-color);
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--primary-color);
}

.show-menu {
  bottom: 0;
}

.home.section {
  margin-top: 2.2rem;
  padding-bottom: 5rem;
}

.home-blob {
  width: 250px;
  fill: var(--primary-color);
}

.home-blob-img {
  width: 170px;
}

.home-img {
  text-align: center;
}

.home-title {
  font-size: var(--big-font-size);
  color: var(--primary-color);
  line-height: 1;
}

.home-title .iam,
.home-greeting,
.home-subtitle {
  color: var(--text-color);
}

.home-social-media {
  margin-bottom: 0.5rem;
}

.home-social-media .socmed-icon {
  font-size: 1.55rem;
  color: var(--primary-color);
}

.button {
  display: inline-block;
  border: 3px solid var(--primary-color);
  border-radius: 15px;
  padding: 0.4rem 0.75rem;
  font-weight: var(--font-medium);
  color: var(--primary-color);
  font-size: 1.1rem;
}

.button:hover {
  color: var(--body-color);
  background-color: var(--primary-color);
}

.skills-logo {
  height: 30px;
  margin: 0.7rem;
}

.cloud-skill .skills-logo {
  height: 20px;
}

.skills-container {
  row-gap: 0;
}

.skills-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.skills-icon,
.skills-arrow {
  font-size: 2rem;
  color: var(--primary-color);
}

.skills-icon {
  margin-right: 0.75rem;
}

.skills-title {
  font-size: var(--h3-font-size);
}

.skills-arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills-list {
  height: 0;
  overflow: hidden;
}

.skill-desc {
  margin-bottom: 0.5rem;
  width: 90%;
  margin-left: 1rem;
}

.skills-open .skills-list {
  height: max-content;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.skills-open .skills-arrow {
  transform: rotate(180deg);
}

.skill-item {
  display: inline-block;
  margin-right: 0.3rem;
}

.skill-item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}

.education-title,
.experience-title {
  text-align: center;
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.education-title i,
.experience-title i {
  font-size: 2.2rem;
  color: var(--primary-color);
}

.history-list {
  list-style: none;
  margin-bottom: 1rem;
}

.history-date {
  margin-top: 0.8rem;
}

.history-desc {
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.history-desc-list {
  margin-left: 1rem;
  margin-top: 0.3rem;
}

.history-desc-list li {
  font-size: 0.85rem;
}

.history-item {
  grid-template-columns: min-content 1fr;
  margin-bottom: 1rem;
}

.history-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.history-line {
  display: block;
  width: 1.5px;
  height: 110%;
  background-color: var(--primary-color);
  transform: translate(6px, -7px);
}

.preject-container {
  overflow: initial;
}

.project-content {
  padding: 0 1.5rem;
  padding-bottom: 2.5rem;
}

.project-img {
  width: 100%;
  border-radius: 0.5rem;
  justify-self: center;
}

.project-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.3rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-project-icon {
  font-size: 3rem;
  color: var(--primary-color);
}

.swiper-button-next {
  right: -0.4rem;
}

.swiper-button-prev {
  left: -0.4rem;
}

.stack-item {
  display: inline;
}

.stack-list {
  margin-bottom: 1rem;
}

.feature-title,
.stack-title {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.feature-list {
  padding-left: 1.1rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}

.btn-demo {
  margin-right: 0.5rem;
}

.project-data .button {
  font-size: 1rem;
  padding: 0.3rem 0.75rem;
}

.certificate-item {
  text-align: center;
  margin-bottom: 2rem;
}

.certificate-img {
  width: 90%;
  border-radius: 0.5rem;
}

.certificate-img:hover {
  opacity: 50%;
}

.certificate-title {
  width: 90%;
  margin: auto;
}

.certificate-title:hover {
  color: var(--primary-color);
}

.section.contact {
  margin-bottom: 10rem;
}

.contact-icon {
  color: var(--primary-color);
  text-align: right;
  margin-right: 0.5rem;
  grid-area: icon;
  font-size: 2.5rem;
}

.contact-title {
  grid-area: title;
}

.contact-address {
  grid-area: address;
  font-size: 1rem;
  color: var(--text-color);
}

.contact-item {
  gap: 0;
  grid-template-areas:
    'icon title'
    'icon address';
  grid-template-columns: 1fr 2.5fr;
}

.contact-title:hover,
.contact-address:hover {
  color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  color: hsl(133, 50%, 95%);
  padding: 0.7rem 5%;
  margin-bottom: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.footer-social-media .socmed-icon {
  color: hsl(133, 50%, 95%);
  font-size: 1.5rem;
  margin-left: 0.2rem;
}

.scrollup {
  position: fixed;
  bottom: -20%;
  right: 1.5rem;
  z-index: var(--z-tooltip);
  background-color: var(--body-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.4s;
}

.show-scroll {
  bottom: 4.5rem;
}

.up-scroll {
  bottom: 7rem;
}

.scrollup svg {
  position: relative;
  width: 50px;
  height: 50px;
}

.scrollup svg circle {
  width: 50px;
  height: 50px;
  fill: none;
  stroke-width: 5;
  stroke: black;
  transform: translate(5px, 5px);
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
  stroke-linecap: round;
}

.scrollup .progress-bar {
  stroke-dashoffset: 0;
  stroke: #d5d5d5;
}

.scrollup .progress-percentage {
  stroke: var(--primary-color);
}

.scrollup .scrollup-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 30px;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: transparent;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

@media screen and (min-width: 768px) {
  #header {
    top: 0;
    bottom: initial;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 2rem;
  }

  .nav-icon,
  .nav-close,
  .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .change-theme {
    margin-right: 0;
  }

  .home.section {
    padding-top: 5rem;
  }

  .home-blob {
    width: 300px;
  }

  .home-data {
    grid-column: initial;
    padding-top: 5rem;
  }

  .home-img {
    order: 1;
    justify-self: right;
  }

  .home-container,
  .skills-container,
  .history-container,
  .project-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact.section {
    margin-bottom: 17rem;
  }

  .footer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  #main {
    width: 70%;
  }

  .nav {
    margin-left: 8%;
    margin-right: 8%;
  }

  .home-img,
  .home-data {
    justify-self: center;
  }

  .home-title {
    font-size: 3rem;
  }

  .home-greeting {
    font-size: 2rem;
  }

  .home-subtitle {
    font-size: 1.7rem;
  }

  .home-data {
    padding-top: 3rem;
  }

  .footer {
    padding-left: 10%;
    padding-right: 10%;
  }

  .up-scroll {
    bottom: 4.5rem;
  }
}
