/* Variable */

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/

  --primary-color: hsl(133, 100%, 32%);
  --text-color: hsl(133, 8%, 45%);
  --text-color-light: hsl(133, 8%, 65%);
  --body-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

#main {
  width: 90%;
  margin: auto;
}

/* Reusable CSS class */

.section {
  padding: 2rem 0 4rem;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Nav */

#header {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: var(--primary-color);
  font-weight: var(--font-medium);
}

.nav-logo {
  font-weight: var(--font-semi-bold);
  font-size: 1.1rem;
}

.nav-logo:hover {
  color: var(--text-color);
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.7rem;
}

.nav-toggle:hover {
  color: var(--text-color);
}

.nav-menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  padding: 2rem 1.5rem 4rem;
  box-shadow: 0 -2.5px 5px rgba(6, 128, 2, 0.5);
  border-radius: 1.5rem 1.5rem 0 0;
  transition: 0.3s;
}

.nav-list {
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-weight: var(--font-medium);
  transition: 0.2s;
}

.nav-link:hover {
  transform: translateY(-8px);
}

.nav-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--primary-color);
}

.show-menu {
  bottom: 0;
}

.home-blob {
  width: 250px;
  fill: var(--primary-color);
}

.home-blob-img {
  width: 170px;
}

.home-img {
  text-align: center;
}

.home-title {
  font-size: var(--big-font-size);
  color: var(--primary-color);
  line-height: 1;
}

.home-title .iam {
  color: var(--text-color);
}

.home-social-media {
  margin-bottom: 0.5rem;
}

.home-social-media .socmed-icon {
  font-size: 1.55rem;
  color: var(--primary-color);
}

.button {
  display: inline-block;
  border: 3px solid var(--primary-color);
  border-radius: 15px;
  padding: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.75rem;
  font-weight: var(--font-medium);
  color: var(--primary-color);
  font-size: 1.1rem;
}

.button:hover {
  color: var(--body-color);
  background-color: var(--primary-color);
}
