/* Variable */

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/

  --primary-color: hsl(133, 100%, 32%);
  --text-color: hsl(133, 8%, 45%);
  --text-color-light: hsl(133, 8%, 65%);
  --body-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

#main {
  width: 90%;
}

/* Reusable CSS class */

.section {
  padding: 2rem 0 4rem;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Nav */

#header {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: var(--primary-color);
  font-weight: var(--font-medium);
}

.nav-logo {
  font-weight: var(--font-semi-bold);
  font-size: 1.1rem;
}

.nav-logo:hover {
  color: var(--text-color);
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.7rem;
}

.nav-toggle:hover {
  color: var(--text-color);
}

.nav-menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  padding: 2rem 1.5rem 4rem;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem 1.5rem 0 0;
  transition: 0.3s;
}

.nav-list {
  display: grid;
  gap: 2rem;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-icon {
  font-size: 1.4rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}

.nav-close:hover {
  color: var(--primary-color);
}

.show-menu {
  bottom: 0;
}
